[submodule "vendor/tlaplus-examples"]
	path = vendor/tlaplus-examples
	url = https://github.com/tlaplus/Examples.git
[submodule "vendor/zig"]
	path = vendor/zig
	url = https://codeberg.org/ziglang/zig
[submodule "vendor/tlaplus-community-modules"]
	path = vendor/tlaplus-community-modules
	url = https://github.com/tlaplus/CommunityModules.git
